.womenmainmenu {
  background-color: #060606;
  width: 100%;
}

.fa fa-shopping-cart {
  height: 100px;
}

.bdgsty {
  float: right;
  margin-right: -47px;
  margin-top: 5px;
}

.imglogosty {
  margin: 5px;
}

.txtsty {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 16px;
}

.submenutxtsty {
  text-align: center;
}

.subimgsty {
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.imgstydiscount {
  width: 250px;
  height: 250px;
}

.carousel carousel-multi-item multi-animation carousel-multi-item {
  display: none;
}

.brandsimgsty {
  width: 200px;
  height: 200px;
}

.imgbacksty {
  background-color: #fbfdfa;
}

.brndsheading {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 30px;
  font-size: 25px;
  font-family: 'Patua One', cursive;
}
