<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
  <mat-sidenav-container>
    <mat-sidenav #appDrawer mode="over" opened="false">
      <mat-nav-list>
        <side-nav-menu-list-item *ngFor="let item of navItems" [item]="item"></side-nav-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="container" style="margin-left: 290px;max-width: 1000px">
    <table class="table table-sm table-hover">
      <tr *ngFor="let VList of vendorList">
        <td>{{VList.firstName}} - {{VList.lastName}}</td>
        <td>{{VList.email}}</td>

        <td>      
          <a class="btn" (click)="showForEdit()">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          <a class="btn text-danger" (click)="onDelete(VActivelist.UID)">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    </table>
    </div>