<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<!--  Content  -->
<article>
  <div class="headermenu">
    <h1 class="hdsty"> FASHION </h1>
    <div style="margin-bottom:30px;">
      <span class="subhdsty">THE JOY OF DRESSING IS AN ART</span>
    </div>
    <div class="text-center">
      <button mdbBtn type="button" class="aqua-gradient btnsizes" mdbWavesEffect>MENS</button>
      <button mdbBtn type="button" class="peach-gradient btnsizes" mdbWavesEffect (click)="womenstore()">WOMENS</button>
      <button mdbBtn type="button" class="dusty-grass-gradient btnsizes" mdbWavesEffect>KIDS</button>
    </div>
    <div class="text-center" [hidden]="loginsts">
      <a mat-button (click)="loginmodel()" class="loginlinksty">Have an account? Log in</a>
      <a mat-button (click)="vendordata()" class="loginlinksty"> Vendor</a> 
    </div>
  </div>

</article>


<!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
<video autoplay loop id="video-background" muted plays-inline>
  <source src="https://www.georgewpark.com/video/blurred-street.mp4" type="video/mp4">
</video>
