<div class="example-toolbar">
  <mat-toolbar color="primary" class="example-toolbar">

    <span><img src="../../../assets/MyImages/mainlogo3.jpg" height="50" width="130" alt="mdb logo" /></span>
  </mat-toolbar>

  <div class="container" style="margin-top:30px;margin-bottom:30px;">
    <div class="row">
     
      <div class="col-md-6">
        <div>
          <span class="headsty1">Delivery Address</span>
        </div>
        <div *ngFor="let el of addresslist; let i = index" class="addrsblocksty">
          <span> <mat-radio-button value="Home" [(ngModel)]="el.type" name="type" #type="ngModel" [checked]="i === 0" (click)="getselectedaddress(i)"></mat-radio-button></span>
          <div><span>{{name}}</span></div>
          <div><span>{{el.address}}</span></div>
          <div><span>{{el.city}}</span></div>
          <div><span>{{el.town}}</span></div>
          <div><span>{{el.state}}</span></div>
          <div><span>{{el.pincode}}</span></div>
          <div><span>{{el.time}}</span></div>
          <div><span>{{el.type}}</span></div>
          <div><span>{{phone}}</span></div>
        </div>
        <div>
          <button mdbBtn type="button" gradient="purple" rounded="true" block="true" mdbWavesEffect (click)="newaddress()">Add New Address</button>
        </div>
        <div [hidden]="newaddrsdiv">


          <div class="addrsblocksty">
            <div style="float:right;cursor:pointer;color:red" (click)="deletedymicaddrs()">
              <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <span> <mat-radio-button value="Home" [(ngModel)]="adrs.type" name="type" #type="ngModel" [checked]="true"></mat-radio-button></span>

            <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="DoorNo" [disabled]="showdiv===i?'false':'true'" [(ngModel)]="adrs.address" name="address" #address="ngModel" required>
              </mat-form-field>

            </div>
            <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Street/Town" [disabled]="showdiv===i?'false':'true'" [(ngModel)]="adrs.town" name="town" #town="ngModel" required>
              </mat-form-field>

            </div>

            <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="City/District" [disabled]="showdiv===i?'false':'true'" [(ngModel)]="adrs.city" name="city" #city="ngModel" required>
              </mat-form-field>

            </div>

            <div>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="State" [disabled]="showdiv===i?'false':'true'" [(ngModel)]="adrs.state" name="state" #state="ngModel" required>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="example-full-width">
                <input matInput #input minlength="6" maxlength="6" placeholder="PinCode" [disabled]="showdiv===i?'false':'true'" [(ngModel)]="adrs.pincode" name="pincode" #pincode="ngModel" (keypress)="_keyPress($event)" required>
              </mat-form-field>

              <label style="margin-right:8px">Type: </label>

              <mat-radio-group [(ngModel)]="adrs.type" name="type1{{i}}" #type="ngModel" [disabled]="showdiv===i?'false':'true'">
                <mat-radio-button value="Home">Home</mat-radio-button>
                <mat-radio-button value="Office">Office</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button>
              </mat-radio-group>

            </div>
            <div>
              <mat-form-field>
                <mat-select placeholder="Available Days" [(ngModel)]="adrs.avaldays" name="avbldays" #avbldays="ngModel">
                  <mat-option value="Weekend">Weekend(Monday to Friday)</mat-option>
                  <mat-option value="Weekend">Sunday Only</mat-option>
                  <mat-option value="Weekend">All Days</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Available Times" [(ngModel)]="adrs.time" name="time" #time="ngModel">
                  <mat-option value="9 A.M TO 9.P.M">9 A.M TO 9.P.M</mat-option>
                  <mat-option value="AnyTime">AnyTime</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!--<div style="float:right">
      <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Save</button>
    </div>-->
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <span class="headsty1">Payment Mode</span>
        </div>
        <div>

          <mat-tab-group (selectedTabChange)="onLinkClick($event)">
            <mat-tab label="Cash On Delivery">
              <div style="padding:30px">

                <div class="headsty">
                  <span>Order Details</span>
                </div>
                <div>
                  <span class="txtsty">Total  :</span><span class="subtxtsty">{{totalprice}}</span>

                </div>
                <div>
                  <span class="txtsty">Shipping Charges  :</span><span class="subtxtsty">{{shpngchrgs}}</span>

                </div>
                <div>
                  <span class="txtsty">Total Amount  :</span><span class="subtxtsty">{{totalamount}}</span>

                </div>

              </div>
            </mat-tab>
            <mat-tab label=" Debit Card">
              Debit Card
            </mat-tab>
          </mat-tab-group>
          <div style="margin-top:30px;text-align:center">
            <button mdbBtn type="button" style="background-color:#2BBBAD;color:white" mdbWavesEffect (click)="addorder(i)">CONFIRM ORDER</button>
          </div>
        </div>
      </div>
    </div>

    
</div>
