<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
  <mat-sidenav-container>
    <mat-sidenav #appDrawer mode="over" opened="false">
      <mat-nav-list>
        <side-nav-menu-list-item *ngFor="let item of navItems" [item]="item"></side-nav-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>

    
    <mdb-card style=" width: 500px; margin: 0px auto; margin-top: 50px;">
      <mdb-card-header style="text-align: center; color: #d02be2; font-size: x-large;font-weight: 400; ">Vendor Item Selection</mdb-card-header>
      <accordion *ngFor="let item of products" >
        <accordion-group name="accord1" class="acc1" heading="{{item.pName}}"  id="{{item.pid}}" (click)="productaccord(item.pid, 'main')" >
         <accordion *ngFor="let pcitem of prodcategories" >
            <accordion-group name="accord2" class="acc1" heading="{{pcitem.pcName}}" style="background-color:chartreuse" id="{{pcitem.prod_cat_id}}" (click)="productaccord(pcitem.prod_cat_id, 'sub')" >
              <div *ngFor="let psitem of prodsubcategories" is-open="openState[$index]">
                <mdb-checkbox [inline]="true" [default]="true">{{psitem.pscname}}</mdb-checkbox>
                
              </div> 
              <div  *ngIf="show">
                  <button type="button" id="btnproduct" class="btn btn-primary" (click)="addExistingitem(psitem.prod_subcat_id)">Add Product</button>
              </div>
            
            </accordion-group>
         </accordion>
        </accordion-group>           
      </accordion>
    </mdb-card>

 </mat-sidenav-container> 
    
